In [1]:
# Import dependencies

import random
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import traceback

In [2]:
weatherdb = "data\WeatherPy_challenge.csv"

In [3]:
weather_df = pd.read_csv(weatherdb)
weather_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
0,Cherskiy,RU,2020-04-19 20:58:16,68.75,161.30,4.64,93,100,6.87,light snow,0.00,0.13
1,Punta Arenas,CL,2020-04-19 20:53:57,-53.15,-70.92,44.60,65,40,31.09,scattered clouds,0.00,0.00
2,Katsuura,JP,2020-04-19 20:58:17,35.13,140.30,57.52,76,100,10.04,light rain,0.19,0.00
3,Mabaruma,GY,2020-04-19 20:58:17,8.20,-59.78,81.54,75,33,8.97,light rain,1.06,0.00
4,Richards Bay,ZA,2020-04-19 20:58:18,-28.78,32.04,69.13,77,0,9.60,clear sky,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
553,Veraval,IN,2020-04-19 21:04:51,20.90,70.37,80.22,57,2,11.59,clear sky,0.00,0.00
554,Inuvik,CA,2020-04-19 21:04:52,68.35,-133.72,17.60,57,90,6.93,overcast clouds,0.00,0.00
555,Kailua,US,2020-04-19 21:04:53,21.40,-157.74,82.40,54,1,9.17,clear sky,0.00,0.00
556,Ugoofaaru,MV,2020-04-19 21:02:05,5.67,73.00,85.95,72,0,8.52,clear sky,0.00,0.00
557,La Paz,BO,2020-04-19 21:04:25,-16.50,-68.15,55.40,43,75,10.29,broken clouds,0.00,0.00

In [4]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_q = str(input("Do you want it to be raining? (yes/no) "))
snow_q = str(input("Do you want it to be snowing? (yes/no) "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [5]:
if rain_q == "no" and snow_q == "no":
    preferred_cities_df = weather_df.loc[(weather_df["Max Temp"] <= max_temp) & \
                                           (weather_df["Max Temp"] >= min_temp) & \
                                           (weather_df["Rain Inches (last 3 hrs)"] == 0) & \
                                           (weather_df["Snow Inches (last 3 hrs)"] == 0)]
elif rain_q == "yes" and snow_q == "no":
    preferred_cities_df = weather_df.loc[(weather_df["Max Temp"] <= max_temp) & \
                                   (weather_df["Max Temp"] >= min_temp) & \
                                   (weather_df["Rain Inches (last 3 hrs)"] != 0) & \
                                   (weather_df["Snow Inches (last 3 hrs)"] == 0)]
elif rain_q == "no" and snow_q == "yes":
    preferred_cities_df = weather_df.loc[(weather_df["Max Temp"] <= max_temp) & \
                                   (weather_df["Max Temp"] >= min_temp) & \
                                   (weather_df["Rain Inches (last 3 hrs)"] == 0) & \
                                   (weather_df["Snow Inches (last 3 hrs)"] != 0)]
else:
    print("No cities")

In [6]:
preferred_cities_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
6,Vaini,TO,2020-04-19 20:58:19,-21.20,-175.20,80.60,78,20,8.05,few clouds,0.0,0.0
7,Hilo,US,2020-04-19 20:58:12,19.73,-155.09,78.80,57,1,11.41,clear sky,0.0,0.0
9,Gewane,ET,2020-04-19 20:58:21,10.17,40.65,79.45,53,40,3.60,scattered clouds,0.0,0.0
15,Atuona,PF,2020-04-19 20:58:26,-9.80,-139.03,82.96,74,48,16.98,scattered clouds,0.0,0.0
21,Port Alfred,ZA,2020-04-19 20:58:30,-33.59,26.89,79.66,45,26,12.66,scattered clouds,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
530,Kuah,MY,2020-04-19 21:04:36,6.33,99.84,80.60,88,20,1.12,few clouds,0.0,0.0
532,Dwarka,IN,2020-04-19 21:02:45,22.24,68.97,80.51,81,8,11.56,clear sky,0.0,0.0
553,Veraval,IN,2020-04-19 21:04:51,20.90,70.37,80.22,57,2,11.59,clear sky,0.0,0.0
555,Kailua,US,2020-04-19 21:04:53,21.40,-157.74,82.40,54,1,9.17,clear sky,0.0,0.0
556,Ugoofaaru,MV,2020-04-19 21:02:05,5.67,73.00,85.95,72,0,8.52,clear sky,0.0,0.0

In [7]:
# hotel dataframe
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Vaini,TO,80.60,few clouds,-21.20,-175.20,
7,Hilo,US,78.80,clear sky,19.73,-155.09,
9,Gewane,ET,79.45,scattered clouds,10.17,40.65,
15,Atuona,PF,82.96,scattered clouds,-9.80,-139.03,
21,Port Alfred,ZA,79.66,scattered clouds,-33.59,26.89,
...,...,...,...,...,...,...,...
530,Kuah,MY,80.60,few clouds,6.33,99.84,
532,Dwarka,IN,80.51,clear sky,22.24,68.97,
553,Veraval,IN,80.22,clear sky,20.90,70.37,
555,Kailua,US,82.40,clear sky,21.40,-157.74,
556,Ugoofaaru,MV,85.95,clear sky,5.67,73.00,

In [8]:
import gmaps
from config import g_key

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [11]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Vaini,TO,80.60,few clouds,-21.20,-175.20,Keleti Beach Resort
7,Hilo,US,78.80,clear sky,19.73,-155.09,Hilo Hawaiian Hotel
9,Gewane,ET,79.45,scattered clouds,10.17,40.65,
15,Atuona,PF,82.96,scattered clouds,-9.80,-139.03,Villa Enata
21,Port Alfred,ZA,79.66,scattered clouds,-33.59,26.89,The Halyards Hotel
...,...,...,...,...,...,...,...
530,Kuah,MY,80.60,few clouds,6.33,99.84,Azio Hotel
532,Dwarka,IN,80.51,clear sky,22.24,68.97,Hotel Narayan Avezika Comfort
553,Veraval,IN,80.22,clear sky,20.90,70.37,Lords Inn Somnath
555,Kailua,US,82.40,clear sky,21.40,-157.74,Sheffield House Bed & Breakfast
556,Ugoofaaru,MV,85.95,clear sky,5.67,73.00,Ungoofaaru Inn

#### Add Marker Layer Map

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

#### Add pop-up marker for each city

In [17]:
# Pop-Up Marker

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Save the new dataframe as a CSV file to be used for Part 3
hotel_df.to_csv('data\WeatherPy_vacation.csv', index=False)