In [1]:
# Import dependencies

import random
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import traceback
import gmaps

In [2]:
# Import CSV
vacationdb = "data\WeatherPy_vacation.csv"

In [3]:
vacation_df = pd.read_csv(vacationdb)
vacation_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Vaini,TO,80.60,few clouds,-21.20,-175.20,Keleti Beach Resort
1,Hilo,US,78.80,clear sky,19.73,-155.09,Hilo Hawaiian Hotel
2,Gewane,ET,79.45,scattered clouds,10.17,40.65,NaN
3,Atuona,PF,82.96,scattered clouds,-9.80,-139.03,Villa Enata
4,Port Alfred,ZA,79.66,scattered clouds,-33.59,26.89,The Halyards Hotel
...,...,...,...,...,...,...,...
143,Kuah,MY,80.60,few clouds,6.33,99.84,Azio Hotel
144,Dwarka,IN,80.51,clear sky,22.24,68.97,Hotel Narayan Avezika Comfort
145,Veraval,IN,80.22,clear sky,20.90,70.37,Lords Inn Somnath
146,Kailua,US,82.40,clear sky,21.40,-157.74,Sheffield House Bed & Breakfast
147,Ugoofaaru,MV,85.95,clear sky,5.67,73.00,Ungoofaaru Inn

In [4]:
is_caravelas = vacation_df["City"] == "Caravelas"

In [5]:
caravelas_df = vacation_df[is_caravelas]
caravelas_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
15,Caravelas,BR,76.26,broken clouds,-17.71,-39.25,Pousada dos Navegantes

In [6]:
is_vilhena = vacation_df["City"] == "Vilhena"

In [7]:
vilhena_df = vacation_df[is_vilhena]
vilhena_df

       City Country  Max Temp Current Description    Lat    Lng    Hotel Name
17  Vilhena      BR      78.8    scattered clouds -12.74 -60.15  Hotel Mirage

In [8]:
is_maracaju = vacation_df["City"] == "Maracaju"

In [9]:
maracaju_df = vacation_df[is_maracaju]
maracaju_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
74,Maracaju,BR,77.34,few clouds,-21.61,-55.17,Maracaju Plaza Hotel - Hospedagem - Maracaju/MS

In [10]:
is_touros = vacation_df["City"] == "Touros"

In [11]:
touros_df = vacation_df[is_touros]
touros_df

       City Country  Max Temp Current Description  Lat    Lng       Hotel Name
109  Touros      BR      82.4          few clouds -5.2 -35.46  INN NEW HORIZON

In [12]:
import gmaps.datasets

In [13]:
from config import g_key

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
caravelas_lat = caravelas_df["Lat"].values[0]
caravelas_lng = caravelas_df["Lng"].values[0]
caravelas_coords = caravelas_lat,caravelas_lng
caravelas_coords

(-17.71, -39.25)

In [16]:
vilhena_lat = vilhena_df["Lat"].values[0]
vilhena_lng = vilhena_df["Lng"].values[0]
vilhena_coords = vilhena_lat,vilhena_lng
vilhena_coords

(-12.74, -60.15)

In [17]:
maracaju_lat = maracaju_df["Lat"].values[0]
maracaju_lng = maracaju_df["Lng"].values[0]
maracaju_coords = maracaju_lat,maracaju_lng
maracaju_coords

(-21.61, -55.17)

In [18]:
touros_lat = touros_df["Lat"].values[0]
touros_lng = touros_df["Lng"].values[0]
touros_coords = touros_lat,touros_lng
touros_coords

(-5.2, -35.46)

In [19]:
fig = gmaps.figure()
maracaju_touros = gmaps.directions_layer(maracaju_coords,touros_coords,travel_mode = 'DRIVING')
fig.add_layer(maracaju_touros)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
merge1 = pd.merge(caravelas_df,vilhena_df,how="outer")
merge1

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Caravelas,BR,76.26,broken clouds,-17.71,-39.25,Pousada dos Navegantes
1,Vilhena,BR,78.80,scattered clouds,-12.74,-60.15,Hotel Mirage

In [21]:
merge2 = pd.merge(merge1,maracaju_df,how="outer")
merge2

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Caravelas,BR,76.26,broken clouds,-17.71,-39.25,Pousada dos Navegantes
1,Vilhena,BR,78.80,scattered clouds,-12.74,-60.15,Hotel Mirage
2,Maracaju,BR,77.34,few clouds,-21.61,-55.17,Maracaju Plaza Hotel - Hospedagem - Maracaju/MS

In [22]:
four_cities = pd.merge(merge2, touros_df, how="outer")
four_cities

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Caravelas,BR,76.26,broken clouds,-17.71,-39.25,Pousada dos Navegantes
1,Vilhena,BR,78.80,scattered clouds,-12.74,-60.15,Hotel Mirage
2,Maracaju,BR,77.34,few clouds,-21.61,-55.17,Maracaju Plaza Hotel - Hospedagem - Maracaju/MS
3,Touros,BR,82.40,few clouds,-5.20,-35.46,INN NEW HORIZON

In [23]:
locations = four_cities[["Lat", "Lng"]]
fig = gmaps.figure(center=(-10, 5.0), zoom_level=3)

marker_layer = gmaps.marker_layer(locations)

maracaju_touros = gmaps.directions_layer(maracaju_coords,touros_coords,travel_mode = 'DRIVING')
caravelas_vilhena = gmaps.directions_layer(caravelas_coords,vilhena_coords,travel_mode = 'DRIVING')
caravelas_maracaju = gmaps.directions_layer(caravelas_coords,maracaju_coords,travel_mode = 'DRIVING')
caravelas_touros = gmaps.directions_layer(caravelas_coords,touros_coords,travel_mode = 'DRIVING')

fig.add_layer(maracaju_touros)
fig.add_layer(caravelas_vilhena)
fig.add_layer(caravelas_maracaju)
fig.add_layer(caravelas_touros)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Pop-Up Marker

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

locations = four_cities[["Lat", "Lng"]]

hotel_info = [info_box_template.format(**row) for index, row in four_cities.iterrows()]

fig = gmaps.figure(center=(-10, 5.0), zoom_level=3)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))