In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Teahupoo,PF,2020-04-17 02:33:02,-17.83,-149.27,86.00,70,79,9.17
1,1,Ishigaki,JP,2020-04-17 02:28:42,24.34,124.16,78.80,74,40,11.41
2,2,Port Alfred,ZA,2020-04-17 02:28:48,-33.59,26.89,59.00,75,8,3.00
3,3,Broome,US,2020-04-17 02:33:02,42.25,-75.83,30.99,50,20,8.05
4,4,Tilichiki,RU,2020-04-17 02:33:03,60.47,166.10,19.08,94,0,9.19

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature using a for loop
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4) 

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Teahupoo,PF,2020-04-17 02:33:02,-17.83,-149.27,86.00,70,79,9.17
1,1,Ishigaki,JP,2020-04-17 02:28:42,24.34,124.16,78.80,74,40,11.41
6,6,Cap Malheureux,MU,2020-04-17 02:33:03,-19.98,57.61,75.20,83,75,14.99
7,7,Hirara,JP,2020-04-17 02:33:03,24.80,125.28,77.00,61,40,13.87
13,13,Sinnamary,GF,2020-04-17 02:33:05,5.38,-52.95,79.43,86,82,12.12
14,14,Tuy Hoa,VN,2020-04-17 02:33:06,13.08,109.30,82.80,65,62,2.37
15,15,Bengkulu,ID,2020-04-17 02:33:06,-3.80,102.27,77.56,87,100,6.58
16,16,Bambous Virieux,MU,2020-04-17 02:33:06,-20.34,57.76,75.20,83,75,14.99
20,20,Isangel,VU,2020-04-17 02:33:07,-19.55,169.27,86.00,70,40,11.41
23,23,Lar,IN,2020-04-17 02:33:08,26.20,83.97,86.32,40,42,10.85

In [12]:
preferred_cities_df.count()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [13]:
# CreatDataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

               City Country  Max Temp    Lat     Lng Hotel Name
0          Teahupoo      PF     86.00 -17.83 -149.27
1          Ishigaki      JP     78.80  24.34  124.16
6    Cap Malheureux      MU     75.20 -19.98   57.61
7            Hirara      JP     77.00  24.80  125.28
13        Sinnamary      GF     79.43   5.38  -52.95
..              ...     ...       ...    ...     ...        ...
556     Port-Gentil      GA     80.37  -0.72    8.78
557           Lagos      NG     84.20   6.58    3.75
558       Kavaratti      IN     84.43  10.57   72.64
559           Adrar      MR     83.05  20.50  -10.07
560          Matara      LK     84.74   5.95   80.54

[151 rows x 6 columns]

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# Check if df has Hotels
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Teahupoo,PF,86.00,-17.83,-149.27,Vanira Lodge
1,Ishigaki,JP,78.80,24.34,124.16,Hotel Peace Land Ishigakijima
6,Cap Malheureux,MU,75.20,-19.98,57.61,Pereybere Hotel & Spa
7,Hirara,JP,77.00,24.80,125.28,Hotel Atoll Emerald Miyakojima
13,Sinnamary,GF,79.43,5.38,-52.95,ALETHEIA Appartement Sinnamary
...,...,...,...,...,...,...
556,Port-Gentil,GA,80.37,-0.72,8.78,Fengshui Residence
557,Lagos,NG,84.20,6.58,3.75,
558,Kavaratti,IN,84.43,10.57,72.64,Bismillah Hotel And Lodging
559,Adrar,MR,83.05,20.50,-10.07,
560,Matara,LK,84.74,5.95,80.54,Amaloh Boutique Resort

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))